body {
    background-color: #34AAE1;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion {
    background-color: white;
    display: flex;
    border-radius: 10px;
    font-size: large;
}

.accordion-item {
    margin: 5px;
    border: gray;
    border-width: 2px;
    flex-grow: 1;
}

button {
    margin-right: 5px;
}

.info-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-right: 10px;
}

.intro {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.item-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}